.cardItem {
  margin: 10px;
  border: 1px solid gray;
  width: 23%;
  cursor: pointer;
  img {
    width: 100%;
  }
  h3,
  p {
    color: #000;
    padding: 2px 10px;
    text-align: left;
  }
}
@media only screen and (max-width: 990px) {
  .cardItem {
    width: 44%;
  }
}
